<div class="row">

            <div class="col-lg-12">

                <div class="h3contTttl">

                    <h2>About Us</h2>

                    <p class="breadcrumbs">

                        <a href="#"></a><span>/</span><a href="#"></a>

                    </p>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-lg-12 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">

                <!--            <div id="contactMap1" class="contactMap"> -->

                <!---/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->



                <!---/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->



                <!--      </div>-->

            </div>

        </div>

        <div class="row">

            <div class="col-lg-8 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">

                <div class="contactForm">

                    <h2 class="conHeading">V.E.S. Institute of Technology</h2>



                    <p class="conP">



                    <img src="http://vesit.edu/wp-content/uploads/2015/03/4.jpg" width="100%" height="100%" style="margin-bottom:30px;" class="img-thumbnail">

                        <b>Vision</b>

                        <blockquote>

                          <p>“To create a vibrant knowledge-oriented environment with innovative teaching practices and to inculcate a tradition of socially conscious application of technology”

                          </p>

                      </blockquote>

                      <p>

                          Vivekanand Education Society's Institute of Technology also known as VESIT or V.E.S. Institute of Technology, established in 1984, is an engineering college affiliated with the University of Mumbai.

                      </p>

                      <p>

                        The campus is located in Chembur, a northeastern suburb of Mumbai.VESIT shares its campus with the college of Pharmacy and the college for Management and Research. The campus comprises one big C-shaped building for the engineering  college and several other buildings for the other colleges, hostels, etc

                      </p>

                   </p>

                <!-- <button class="button" style="padding-bottom: 6px;

                padding-left: 25px;

                padding-right: 25px;

                padding-top: 6px;background:#d94462;color:white;">Official site</button> -->

                <div id="people" class="row" style="padding-top:30px;margin-left:0px;margin-right:0px;">

                 <h2 class="conHeading">People of VESIT</h2>

                 <div class="col-md-4">

                    <img src="images\praxis\principal.jpg" class="img-rounded">

                    <br>

                    <p class="text-center">

                      <b>  Dr.(Mrs.) J.M.Nair</b>

                      <br>

                      <small>Principal, VESIT</small>

                  </p>

              </div>

              <div class="col-md-4">

                <img src="images\praxis\vice-principal.jpg" class="img-rounded">

                <br>

                <p class="text-center">

                  <b>  Mrs. Vijayalaxmi M.</b>

                  <br>

                  <small>Vice-Principal, VESIT</small>

              </p>

          </div>

          <div class="col-md-4">

            <img src="images\praxis\sabnis_sir.jpg" class="img-rounded">

            <br>

            <p class="text-center">

              <b> Prof. Manoj Sabnis</b>

              <br>

              <small>Dean of Student Affairs, VESIT</small>

          </p>

      </div>



  </div>



                <!--     <form method="post" action="#" id="contactFrom">

                        <input type="text" class="required" name="con_name" id="con_name" placeholder="Name"/>

                        <div class="clearfix"></div>

                        <input class="required" type="email" name="con_email" id="con_email" placeholder="Email"/>

                        <div class="clearfix"></div>

                        <textarea name="con_message" id="con_message" placeholder="Message"></textarea>

                        <div class="clearfix"></div>

                        <input type="submit" name="con_submit" value="Send Message" id="contSubmit"/>

                    </form> -->

                </div>

            </div>

            <div class="col-lg-4">

                <div class="conDetails wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">



                    <!-- <img src="images\praxis\VESIT.jpg" width="100%" height="100%" style="margin-bottom:30px;" class="img-thumbnail"> -->

                    <h2 class="conHeading">Contact Info</h2>

                     <div class="singleConInfo">

                        <i class="fa fa-check-circle-o"></i>

                        



                        <h5>Official Website</h5>

                        <p>

                            <a href="http://vesit.edu">vesit.edu</a>

                        </p>

                    </div>

                    <div class="singleConInfo">

                        <i class="fa fa-map-marker"></i>

                        <h5>Address</h5>

                        <p>

                            Hashu Advani Memorial Complex<br/> Collector’s Colony, Chembur<br/> Mumbai – 400 074



                        </p>

                        <p>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.4157200357904!2d72.8888155!3d19.04545120000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8afbfffffff%3A0xe987673af1ae2657!2sVivekanand+Education+Society&#39;s+Institute+Of+Technology!5e0!3m2!1sen!2sae!4v1435684956994" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

                        </p>

                    </div>

                    <div class="singleConInfo">

                        <i class="fa fa-laptop i2"></i>

                        <h5>Business Queries</h5>

                        <p>

                            For any buinsess or sponsership queries  <br/>

                            <a href="#">praxis@ves.ac.in</a>

                        </p>

                    </div>

                    <div class="singleConInfo">

                        <i class="fa fa-users i3"></i>

                        <h5>Employment</h5>

                        <p>

                            We’re always looking for talented<br/>

                            persons to join our team.<br/>

                            <a href="#">hr@ves.ac.in</a>

                        </p>

                    </div>

                </div>

            </div>

        </div>

