/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/



.grid-container {
 
  position: relative; }

.grid-item {
 
  position: absolute; }

.grid-item img {
  cursor: pointer;
  
  width: 100%; }
