/*
  Theme Name: Rumors - Celebrity Gossip Responsive Template
  Theme URL: http://www.eitthemes.com/themes/html/rumors
  Author: Eitthemes
  Author URI: http://eitthemes.com/
  Description: Rumors - Celebrity Gossip Responsive Template
  Version: 1.0.0
*/
/*=======================================================================
[Table of contents]
=========================================================================
1. Fonts 
2. Normalise
3. Typography

*/
/******************* Fonts ************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,100italic,100,300,300italic,400italic,700italic,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Antic+Slab);
@import url(http://fonts.googleapis.com/css?family=Viga);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

/******************* Normalise ************************/
body, html{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #818181;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

a{
    text-decoration: none;
    transition: all ease 700ms;
    -moz-transition: all ease 700ms;
    -webkit-transition: all ease 700ms;
    -ms-transition: all ease 700ms;
    -o-transition: all ease 700ms;
}
a:hover{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
    outline: 0;
}


h1, h2, h3, h4, h5, h6{
    font-family: Roboto Slab;
    font-weight: 300;
}

ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

.commonPage{
    width: 100%;
    position: relative;
    background: #FFF;
    padding: 0 0 85px;
    overflow: hidden;
}
.commonSection{
    padding: 85px 0;
    background: #FFF;
    position: relative;
}
.sectionTitle {
    text-align: center;
    position: relative;
    margin-bottom: 52px;
}

.sectionTitle h1{
    position: relative;
    overflow: hidden;
    font-family: Roboto Slab;
    font-size: 35px;
    line-height: 28px;
    font-weight: 300;
    color: #FFF;
    margin: 0;
}   
.sectionTitle h1 span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 20px;
}
.sectionTitle h1 span:before,
.sectionTitle h1 span:after {
    content: '';
    display: block;
    width: 1000px;
    position: absolute;
    top: 17px;
    border-top: 1px solid #DC279C;
}
.sectionTitle.blueBorder h1 span:before,
.sectionTitle.blueBorder h1 span:after {
    border-top-color: #33bdeb;
}
.sectionTitle h1 span:before {
    right: 100%;
}
.sectionTitle h1 span:after {
    left: 100%;
}
.noPadding{
    padding: 0;
}
.noPaddingLeft{
    padding-left: 0;
}
.noPaddingRight{
    padding-right: 0px !Important;
}
.noMarginRight{
    margin-right: 0px !important;
}
.noMarginBottom{
    margin-bottom: 0px !important;
}
.noBorderBottom{
    border-bottom: none !Important;
}
.noBorderTop{
    border-top: none !important;
}
.noMargin{
    margin: 0 !Important;
}
.noMarginLeft{
    margin-left: 0px !important;
}
.noBorder{
    border: none !important;
}

/******************************** Typography **********************************/
.fancyTitle{
    width: 100%;
    margin: 0 0 30px;
    font-size: 25px;
    text-transform: capitalize;
    position: relative;
    line-height: 19px;
    color: #2a2a2a;
    padding-left: 10px;
}
.fancyTitle:before{
    content: "";
    width: 3px;
    height: 19px;
    position: absolute;
    left: 0;
    top: 0;
    background: #7ec0ee;
}
.fTitle1{
    font-size: 30px;
    margin: 0 0 25px;
    line-height: 22px;
    color: #2a2a2a;
    font-weight: 400;
    font-family: 'Antic Slab', serif;
}
.fTitle2{
    font-size: 25px;
    color: #7ec0ee;
    margin: 0 0 25px;
    line-height: 19px;
    font-weight: 400;
    font-family: 'Viga', sans-serif;
}
.fTitle3{
    font-size: 25px;
    color: #7ec0ee;
    margin: 0 0 27px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
}
.textUppercase{
    text-transform: uppercase;
}
.head1{
    font-size: 35px;
    font-weight: 400;
    color: #2a2a2a;
    line-height: 25px;
    margin: 0 0 18px;
}
.formatPara{
    line-height: 20px;
    margin-bottom: 30px;
}
.head2{
    font-size: 35px;
    font-weight: 300;
    color: #2a2a2a;
    line-height: 25px;
    margin: 0 0 18px;
}
.head3{
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 400;
    line-height: 23px;
    margin: 0 0 15px;
}
.head4{
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 300;
    line-height: 23px;
    margin: 0 0 15px;
}
.head5{
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 300;
    line-height: 23px;
    margin: 0 0 15px;
}
.head6{
    color: #2a2a2a;
    font-size: 25px;
    font-weight: 400;
    line-height: 19px;
    margin: 0 0 15px;
}
.lastpara{
    margin-bottom: 18px;
}
.hightlight1{
    background: #7ec0ee;
    color: #FFF;
    padding: 2px 3px 4px;
}
.hightlight2{
    background: #e9e9e9;
    color: #2a2a2a;
    padding: 2px 3px 4px;
}
.hightlight3{
    background: #2a2a2a;
    color: #FFF;
    padding: 2px 3px 4px;
}
.hightlightP, .htmlstyle{
    line-height: 22px;
    margin-bottom: 20px;
}
.htmlstyle strong{
    color: #2a2a2a;
}
.htmlstyle strong.red{
    color: #7ec0ee;
}
.bqp{
    margin-bottom: 5px;
    line-height: 22px;
}
.bqp.lastP{
    margin-bottom: 18px;
}
blockquote{
    border-left-color: #7ec0ee;
    font-size: 17px;
    line-height: 23px;
    color: #2a2a2a;
    padding: 7px 40px 7px 25px;
    margin: 25px 0;
}
blockquote.bqstyle1{
    background: #fafafa;
    border: 1px solid #e5e4e4;
    margin: 15px 0;
    font-family: Roboto Slab;
    color: #2a2a2a;
    font-size: 17px;
    line-height: 23px;
    padding: 40px 60px;
    background: url(../images/block.png) no-repeat 30px 45px;
}
.dropCaps1:first-letter{
    font-size: 65px;
    margin-right: 9px;
    float: left;
    margin-top: 10px;
}
.dropCaps2:first-letter{
    background: #2a2a2a none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 52px;
    margin-right: 9px;
    margin-top: 10px;
    padding: 6px 8px 6px 6px;
}
.dpMargin{
    margin-bottom: 30px;
}
.dpMargin2{
    margin-bottom: 15px;
}
.ttps{
    color: #2a2a2a;
    font-weight: bold;
}
.sidebarmargintop{
    margin-top: 48px;
}