Godfather<br/>
Batman<br/>
Superman<br/>
Spiderman<br/>
Mister Fantastic<br/>
Shaktimaan<br/>
Flash<br/>
Wolverine<br/>
Professor X<br/>
Green Arrow<br/>
Krrish<br/>
Daredevil<br/>
Magneto<br/>
Ironman<br/>
Captain America<br/>
Captain Marvel<br/>
Martian Manhunter<br/>
Thor<br/>
Green Lantern<br/>
Hawkeye<br/>
Apocalypse<br/>
Joker<br/>
Captain Universe<br/>
Hulk<br/>
Human Torch<br/>
Iceman<br/>
Deadpool<br/>
Cyborg<br/>
Robin<br/>
Cyclops<br/>
Nightcrawler<br/>
Red Tornado<br/>
Silver Surfer<br/>
Aquaman<br/>
Ant-Man<br/>
Quicksilver<br/>
Captain Atom<br/>
Beast<br/>
Hercules<br/>
Angel<br/>
Sherlock Holmes<br/>
Falcon<br/>
Venom<br/>
Hawkman<br/>
Bane<br/>
Nova<br/>
Banshee<br/>
Galactus<br/>
Cannonball<br/>
Static<br/>
Colossus<br/>
Havok<br/>
Electro<br/>
Deadman<br/>
Mr.India<br/>
Rhino<br/>
Sabu<br/>
Forge<br/>
Avalanche<br/>
Mr.Incredible<br/>
Justice<br/>
Gambit<br/>
Cable<br/>
Giant-Man<br/>
Elixir<br/>
The Dash<br/>
Shazam<br/>
RoboCop<br/>
Ben 10<br/>
Indra<br/>
Goku<br/>
Mimic<br/>
Bishop<br/>
Shadow King<br/>
Juggernaut<br/>
Captain Vyom<br/>
Warpath<br/>
Syndrome<br/>
Karma<br/>
Harley Quinn<br/>
Sabretooth<br/>
Black Panther<br/>
Sunspot<br/>
Lizard<br/>
Groundhog<br/>
Smart Alec<br/>
Mr.Octopus<br/>
Guardian<br/>
Northstar<br/>
Winter Soldier<br/>
Sandman<br/>
Parmanu<br/>
Doctor Fate<br/>
Bhokal<br/>
Mister Terrific<br/>
Starman<br/>
Polestar<br/>
Shang-Chi<br/>
Vision<br/>
War Machine<br/>
Sunfire<br/>
Pyro<br/>
Blob<br/>
Toad<br/>
Mysterio<br/>
Thunderbird<br/>
Wonder Man<br/>
Sentry<br/>
Nagraj<br/>
Bheriya<br/>
Master Mold<br/>
G One<br/>
Doga<br/>
Captain Britain<br/>
Robin Hood<br/>
Namor<br/>
Firestorm<br/>
Dr.Manhattan<br/>
Mister Majestic<br/>
Spawn<br/>
Black Bolt<br/>
Dr.Strange<br/>
Thing<br/>
Rorschach<br/>
Iron Monger<br/>
Raphael<br/>
Donatello<br/>
Michelangelo<br/>
General Zod<br/>
The Penguin<br/>
Lex Luthor<br/>
Savage Dragon<br/>
Orion<br/>
Hercules<br/>
Black Panther<br/>
Cyborg<br/>
Steel<br/>
Doga<br/>
Vixen<br/>
Raven<br/>
Red Tornado<br/>
John Stewart<br/>
Starfire<br/>
Damian Wayne<br/>
Jericho<br/>
Air Negator<br/>
Cobolt Edge<br/>
Explosive Armor<br/>
Jape Blazer<br/>
Kill Bloom<br/>
Metaking<br/>
Mind Detonator<br/>
Ocean Melter<br/>
Rifle Smasher<br/>
Adam Strange<br/>
Spike Smash<br/>
Virus Dynamo<br/>
Arctic Emerald<br/>
Astral Thrust<br/>
Beast Smasher<br/>
Entomobomber<br/>
Jest Stabber<br/>
Mechaman<br/>
Nucleodetonator<br/>
Panther Chopper<br/>
Razor Slash<br/>
Droidgrenade<br/>
Firenoid<br/>
Dynamo Fusion<br/>
Flame Spinner<br/>
River Cancellor<br/>
Stellar Web<br/>
Android Cascade<br/>
Cloud Sapphire<br/>
Elemental Soldier<br/>
Thorn Scimtar<br/>
Echacha Chaudhary<br/>
Atomibaron<br/>
Combat Count<br/>
Morph Mind<br/>
Zephyr Auger<br/>
Wolf Ruby<br/>
Electroblazer<br/>
Celestial MasherBeast<br/>
Martial Slasher<br/>
Poisonous Nuke<br/>
Web Mace<br/>
Clerical Rush<br/>
Cry Mind<br/>
Lion King<br/>
Web Stinger<br/>
Hacking Spawn<br/>
Arctic Searcher<br/>
Megachaser<br/>
Dark Blood<br/>
Wolf Slash<br/>
Prophet Hit<br/>
Venom Spectre<br/>
Necromaster<br/>
Night Bolt<br/>
Winter Nuke<br/>
Blizzard Blaster<br/>
Visionary Serpent<br/>
The Light Doctor<br/>
The Earthen Trident<br/>
Heavy Fox<br/>
Swift Shade<br/>
Calm Charmer<br/>
The Heavenly Raven<br/>
Wild Tornado<br/>
Dragon Boy<br/>
The Quiet Assassin<br/>
Fast Illusionist<br/>
Black Phoenix<br/>
Black Lightning<br/>
Black Panther<br/>
Blade<br/>
Blue Beetle<br/>
Booster Gold<br/>
Bucky Barnes<br/>
Captain Britain<br/>
Captain Marvel<br/>
Cerebus<br/>
Cyclop<br/>
Dashiell Bad Horse<br/>
Deadpool<br/>
Dr. Strange<br/>
Elijah Snow<br/>
Fone Bone<br/>
Gambit<br/>
Ghost Rider<br/>
Green Arrow<br/>
Hal Jordan <br/>
Hellbo<br/>
Human Torch<br/>
James Gordon<br/>
Jesse Custer<br/>
John Constantine<br/>
John Stewart <br/>
Jonah Hex<br/>
Judge Dredd<br/>
Ka-Zar<br/>
Kitty Pryde<br/>
Luke Cage<br/>
Martian Manhunter<br/>
Mitchell Hundred<br/>
Moon Knight<br/>
Nick Fury<br/>
Nightcrawler<br/>
Punisher<br/>
Reed Richards<br/>
Renee Montoya<br/>
Rick Grimes<br/>
Rorschach<br/>
Savage Dragon<br/>
Scott Pilgrim<br/>
Silver Surfer<br/>
Spawn<br/>
Sub-Mariner<br/>
Swamp Thing<br/>
The Cro<br/>
The Falcon<br/>
The Rocketeer<br/>
The Spectre<br/>
The Spirit<br/>
The Tick<br/>
Usagi Yojimbo<br/>
Wally West <br/>
Yorick Brown<br/>
The Wacky Wizard<br/>
The Calm Gloom<br/>
The Godly Wolverine<br/>
The Gentle Prodigy<br/>
The Righteous Smasher<br/>
The Accidental Lynx<br/>
Fiery Falcon<br/>
The Confident Swordsman<br/>
The Galactic Genius<br/>
Electron Axeman<br/>
Brave Shade<br/>
The Smooth Whiz<br/>
The Defiant Condor<br/>
Copper Dagger<br/>
The Jade Duke<br/>
Nuclear Sage<br/>
Savior<br/>
The Light Baron<br/>
The Impossible Snipe<br/>
Light Smasher<br/>
Quantum Colossus<br/>
The Illusionist<br/>
Master Defiance<br/>
The Assassin<br/>
Intelligent Raccoon<br/>
Fancy Spirit<br/>
The Marvelous Nighthawk<br/>
The Quick Baron<br/>
The Quiet Charmer<br/>
Phantom Archer<br/>
The Prodigy<br/>
The Wacky Prodigy<br/>
Wildflame<br/>
The Furious Warthog<br/>
The Kind Sniper<br/>
The Kind Sniper<br/>
Razor<br/>
The Rapid Devil<br/>
The Devil<br/>
The Quiet Wolfman<br/>
Doctor Ghost<br/>
Mister Moon<br/>
Amazon Kid<br/>
The Glorious<br/>
Warlock Boy<br/>
Vengeance Man<br/>
White Mercury<br/>
Captain Guardian<br/>
The Iron Baron<br/>
The Glorious Trident<br/>
Eltrocus<br/>
Marked Stranger<br/>
The Wacky Veteran<br/>
The Steel Snipe<br/>
Sabertooth<br/>
The Gigantic Baron<br/>
Master Fox<br/>
Ethereal Titan<br/>
Orothos<br/>
Gecko<br/>